/* Color oscuro */
body {
  font-family: 'Muli', sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  color: #2d3748;
  margin: 16px 0;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: #2d3748;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  color: #2d3748;
}

h5 {
  font-size: 20px;
  color: #a0aec0;
  font-weight: 800;
  letter-spacing: 2px;
}

h6 {
  font-size: 16px;
  color: #a0aec0;
  font-weight: 800;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  color: #718096;
  line-height: 24px;
}

main {
  height: 100vh;
}

main .container,
main .row {
  height: 100%;
}

main img {
  width: 80%;
}

main h5 {
  text-transform: uppercase;
  color: #2d3748;
}

main h5 span {
  color: #f56565;
}

main a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 25px;
  width: 160px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #f56565;
  transition: 0.2s all;
}

main a:hover {
  background-color: #c53030;
}

main .textColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .imageColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/back.svg?12');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

main img {
  width: 300px;
}

div.container-fluid {
  padding: 80px 0;
}

div.container-fluid h3 {
  margin: 16px 0;
}

#about-me {
  background-image: linear-gradient(
      90deg,
      rgba(24, 14, 54, 0.4) 1%,
      rgba(86, 66, 150, 1) 60%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%233a296f' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#about-me {
  padding: 0;
}

#about-me .leftColumn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#about-me .rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-me img {
  width: 300px;
  height: 300px;
}

#about-me h3 {
  color: #f7fafc;
}

#about-me p {
  color: #cbd5e0;
}

#knowledge .card-group {
  margin-top: 50px;
}

#knowledge .card-container {
  padding: 20px;
}

#knowledge .card {
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 8px;
  padding: 20px 20px 20px 0;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 0px 2px 20px rgba(0, 0, 0, 0.1);
}

#knowledge .card .row {
  height: 100%;
}

#knowledge .card h4 {
  margin-bottom: 16px;
}

#knowledge .card.first-card {
  border-top: 5px solid #4299e1;
}

#knowledge .card.second-card {
  border-top: 5px solid #f6e05e;
}

#knowledge .card.third-card {
  border-top: 5px solid #9f7aea;
}

#knowledge .icon-display {
  font-size: 100px;
  position: relative;
  left: -30px;
  color: rgba(66, 153, 225, 0.5);
}

#knowledge .icon-settings {
  font-size: 100px;
  position: relative;
  left: -30px;
  color: rgb(246, 224, 9, 0.5);
}

#knowledge .icon-pen {
  font-size: 100px;
  position: relative;
  left: -30px;
  color: rgb(159, 122, 234, 0.5);
}

#knowledge .card-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#knowledge ul,
#experience ul {
  font-size: 16px;
  color: #718096;
  line-height: 28px;
  padding: 10px 6px;
}

#knowledge .card li::before,
#experience li::before {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 2px;
}

#knowledge .card.second-card li::before {
  background-color: #f6e05e;
}

#knowledge .card.third-card li::before {
  background-color: #9f7aea;
}

#experience .experience-body {
  margin-top: 40px;
}

#experience li::before {
  background-color: #718096;
}

#experience img {
  max-width: 240px;
  width: 95%;
  margin-right: 20px;
}

#experience .work-logo {
  text-align: right;
}

#experience .work-list {
  text-align: left;
  padding-left: 40px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(53%, #a1a1a1),
    color-stop(0%, rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(#a1a1a1 53%, rgba(255, 255, 255, 0) 0%);
  background-position: left top;
  background-size: 3px 20px;
  background-repeat: repeat-y;
}

#experience .work-list h2 {
  margin-top: 10px;
}

#experience .button {
  display: block;
  width: 28px;
  height: 28px;
  background-color: #09f;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  top: 0px;
  z-index: 40000;
  -webkit-animation-name: button-animation;
  animation-name: button-animation;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#experience .button::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #09f;
  border: 4px solid #f8f8f8;
  position: absolute;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation-name: button-animation;
  animation-name: button-animation;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes button-animation {
  0% {
    background-color: #027cce;
  }
  33% {
    background-color: #09f;
  }
  59% {
    background-color: #027cce;
  }
  73% {
    background-color: #09f;
  }
  100% {
    background-color: #027cce;
  }
}

#pre-contact {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 238, 238, 1) 100%
  );
  padding: 40px 15px;
}

#pre-contact hr {
  border-top: 1px solid #cbd5e0;
}

#contact,
footer {
  background-color: #edeeee;
}

#contact {
  padding: 40px 15px;
}

#contact .contact-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contact a {
  text-decoration: none;
  font-size: 28px;
  color: #a0aec0;
  transition: 0.3s all;
  padding: 10px;
  margin-left: 10px;
  border: 3px solid #a0aec0;
  border-radius: 50%;
}

#contact a:hover {
  color: #2d3748;
  border-color: #2d3748;
}

.copyright {
  padding-top: 20px;
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
  }

  #knowledge .card {
    background-color: #2a2e32;
  }

  main h5 {
    color: #e2e8f0;
  }

  h1 {
    color: #e2e8f0;
  }

  h3,
  h4,
  #experience h2 {
    color: #e2e8f0;
  }

  p,
  #knowledge ul,
  #experience ul {
    color: #a0aec0;
  }

  #experience .button::before {
    border: 4px solid #212529;
  }

  #contact,
  footer {
    background-color: #1a1c1f;
  }

  #pre-contact {
    background: #212529;
    background: linear-gradient(180deg, #212529 0%, #1a1c1f 100%);
    padding: 40px 15px;
  }

  #contact a:hover {
    color: white;
    border-color: white;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #knowledge .card {
    padding: 20px;
  }

  #knowledge .card h4 {
    text-align: center;
  }

  #knowledge .icon-pen,
  #knowledge .icon-settings,
  #knowledge .icon-display {
    position: inherit;
    left: 0;
    margin-bottom: 30px;
    font-size: 50px;
  }

  #knowledge .card .row {
    display: inline-block;
  }

  #about-me .rightColumn {
    padding: 50px 0;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
  }

  #knowledge .card-group .col-md-4 {
    margin-bottom: 30px;
  }

  #knowledge {
    padding-bottom: 0;
  }

  #experience {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  #about-me {
    padding: 60px 20px;
    padding-bottom: 0;
  }

  #about-me img {
    margin-top: 50px;
  }

  #experience .work-list {
    margin-top: 30px;
  }

  #contact .contact-buttons {
    justify-content: center;
    padding-top: 50px;
  }

  footer {
    text-align: center !important;
  }

  #experience .work-logo {
    text-align: center;
  }

  #experience img {
    margin-right: 0;
  }
}
